{% extends "base.html" %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body bg-dark text-white">
                    <h2 class="text-center text-primary">Login</h2>
                    <form method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="username">Username:</label>
                            <input type="text" class="form-control" id="username" name="username" placeholder="Enter the username"required>
                        </div>
                        <div class="mb-3">
                            <label for="password">Password:</label>
                            <input type="password" class="form-control" id="password" name="password" placeholder="Enter the password" required>
                        </div>
                        <div class="container text-center">
                            <button type="submit" class="btn btn-primary">Login</button>
                        </div>
                    </form>
                    <hr>
                    <div class="container text-center">
                        <p>Don't have an account? <a href="{% url 'register' %}">Create account</a></p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
{% endblock %}
